.containers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    margin-top: 20px;
}
.main-div{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 100%;
}
.select-div{
    display: flex;
    align-items: center;
}
.input-div{
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}
.form-control {
    margin-bottom: 10px;
}
.form-select {
    margin-bottom: 10px;
}
p{
    color: red;
    margin-bottom: 8px;
}
.req{
    color: red;
    font-size: 18px;
    font-weight: bolder;
    margin-left: 5px;
}
label{
    font-size: 20px;
}
.flex{  
    display: flex;
    flex-direction: column;
}
.btn{
    width: 10%;
}
.width{
    width: 75%;
    text-align: center;
}